*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bg-color: #212121;
    --product-color: rgb(129, 1, 1); 
    --box-shadow: 10px 10px 20px 0px rgb(234, 0, 0);
    --shadow-2: 10px 10px 20px 0px rgb(0, 0, 0);
}


body {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Playfair Display SC', serif;
    background-color: var(--bg-color);
}



.divider {
    color: rgb(255, 255, 255);
    background-color: var(--bg-color);
    width: 375px;
    padding: 20px; 
}

.landing-div-food{
    display: flex;
    width: 330px;
    height: 150px;
    margin-bottom: 20px;
    background-image: url(images/food/main\ courses.jpeg);
    background-size: cover;
    box-shadow: var(--box-shadow);
}

.food0{
    font-size: 1.85rem;
}

.landing-div-drinks{
    display: flex;
    width: 330px;
    height: 150px;
    margin-bottom: 20px;
    background-image: url(images/bottles/bottle\ service.jpeg);
    background-size: cover;
    box-shadow: var(--box-shadow);
}

.landing-title {
    width: 100%;
    height: 50%;
    background-color: var(--product-color);
    color: rgba(202,218,235,255);
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    font-size: 1.35rem;
}



.hero {
    padding-inline: 20px;
    color:rgb(255, 255, 255); 
    margin: auto;
}



.img-section {
    background-image: url(images/drinks/chilis.jpeg);
    background-size: cover;
    max-width: 400px;
    height: 250px;
    padding: 10px;
    overflow: hidden;
    box-shadow: var(--box-shadow); 
    margin-block: 20px;
    align-items: center;
    justify-content: center;
    mix-blend-mode: add;
}

.img-section h2 {
    color: rgb(240, 236, 236);
    text-shadow:  0 0 10px #212121;
}

.img-section h2 {
    padding-inline: 50px;
    padding-block: 70px;
    font-size: 2rem;
    text-align: center;
}

.landing-menu {
    max-width: 350px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    border: none;
    outline: none;
}

.description p {
    text-transform: capitalize; 

}

.description {
    align-items: center;
    padding-block: 20px;
}

.sect-divs {
    box-shadow: var(--shadow-2);
    margin-top: 10px;
    color: black;
    width: 100%;
}

.cocktails {
    background-image: url(images/drinks/mohito-cocktail-with-lemon-mint_140725-989.avif);
    background-size: cover;
}


.main-course {
    background-image: url(images/food/main\ courses.jpeg); 
    background-size: cover;
}

.snacks {
    background-image: url(images/food/samosa\ special\ .jpeg); 
    background-size: cover;
}


.hot-beverages {
    background-image: url(images/food/african\ tea.webp); 
    background-size: cover;
}

.shots {
    background-image: url(images/drinks/rum\ shots.jpeg);
    background-size: cover;
}


.bottle {
    background-image: url(images/bottles/bottle\ service.jpeg);
    background-size: cover;
}

.softa {
    background-image: url(images/food/coke.jpeg);
    background-size: cover;
}



.beer {
    background-image: url(images/beers/beers.webp);
    background-size: cover;
}

.spirits {
    background-image: url(images/bottles/bottle\ service.jpeg);
    background-size: cover;
}



.sect-divs {
    color: #fff;
    min-height: 200px;
}

.logo-area {
    background-color: var(--product-color);
    color: #dbf0f5;
    padding: 20px;
    box-shadow: var(--box-shadow);
    text-align: center;
}


.call-area {
    margin-block: 20px;
    margin-inline: 20px;
    background-color: var(--product-color);
    color: #dbf0f5;
    padding: 20px;
    box-shadow: var(--box-shadow);
    text-align: center;
}


.logo-area h1, .call-area h1 {
    font-size: 1.3rem;
}
.product-class-title {
    background-color: var(--product-color);
    color: rgba(202,218,235,255);
    margin-top: 5px;
    padding: 0.85rem;
    text-align: center;
    font-size: 1rem;
}

.product-class-title h1 {
    font-size: 1.2rem;
}
.non {
    font-size: 1rem;
}

.product-short-list ul li {
    list-style: none;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 300;
    display: none;
}

.product-short-list h3 {
    text-align: center;
    font-size: 1.25rem;
    color: #dbf0f5;
}

.text {
    margin-left: -25px;
}

.text li {
    color: #ffffff;
}


.bottom {
    background-color: var(--bg-color); 
    color: rgba(202,218,235,255);
    margin-top: -5px;
    padding: 0.15rem;
    text-align: center;
    font-size: 0.75rem;
}



/* product pages */
.product-menu {
    background-color: var(--product-color); 
    max-width: 350px;
    margin: auto;
    box-shadow: var(--shadow-2);
}

.item {
    border-bottom: 4px solid var(--bg-color); 
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.3fr;
    gap: 20px;
}

.item:last-child {
    border: none;
}

.item-img {
    padding: 10px;
    max-width: 120px;
    max-height: 80px;
    object-fit: cover;
    overflow: hidden;
    margin-block: 10px;
}

.item-img img{
    width: 100%;
    height: 100%;
}

.changing-image {
    width: 350px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    margin: auto;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 20px;
    padding: 10px;
}

.changing-image img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.price-food {
    padding: 25px;
}




.price {
    align-items: center;
    text-align: center;
    margin-top: 75%;
}

.item-label {
    color: #f6efe6;
}

a {
    text-decoration: none;
    color: inherit;
}

.section-end {
    align-items: center;
    text-align: center;
    margin-block: 10px;
    font-size: 1.5rem;
}

.empty {
    padding: 185px;
}

form {
    display: flex;
    align-items: center;
}

form i {
    color: #ffffff;
    font-size: 1.5rem;
    padding: 10px;
}

#search-bar {
    width: 300px;
    padding: 14px;
    margin-top: -20px;
    outline: none;
    border: none;
    background-color: var(--product-color);
    color: #ffffff;
    align-items: center;
    justify-content: center;
    margin-block: 4px;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: 'Lobster', cursive;

}




#search-bar::placeholder {
    font-size: 1.25rem;
    opacity: 0.5;
    color: #ffffff;
    font-family: 'Playfair Display SC', serif;
}

/* media queries */

@media (min-width: 500px) {
    .landing-menu {
    min-width: 500px;
    padding-inline: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; outline: none;
    border: none;
}
.img-section {
    background-image: url(images/chillis\ logo.jpeg);
    background-size: cover;
    max-width: 500px;
    height: 250px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    /* margin-inline-start: 0px;
    margin-inline-end: 10px; */
    margin-bottom: 20px;
    margin-top: 40px;
    align-items: center;

}

.section-end {
    align-items: center;
    text-align: center;
}
.changing-image {
    min-width: 500px;
}

.changing-image {
    margin-left: 42.85%; 
}
.empty {
    padding: 180px;
}
}